
packages/*
JustTheTooltip/.vs/*
JustTheTooltip/obj/*
JustTheTooltip/bin/*
Libraries/*.dll
.vs/*
MigrationBackup/*
Libraries/assembly-hash.txt
Libraries/MethodAddressToToken.db
Libraries/MethodXrefScanCache.db
